[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bump2version = "*"
coverage = "*"
flake8 = "*"
godslayer = {editable = true,path = "."}
invoke = "*"
isort = "*"
mypy = "*"
pylint = "*"
pipenv-setup = "*"
pytest = "*"
pytest-resource-path = "*"
radon = "*"
wheel = "==0.34.2"
xenon = "*"
